{% include 'donor_header.html' %}

<br><br><br><br><br><br><br>
<center>
    <!-- <h2>View hospitals</h2> -->
        <!-- <table class="table table-hover">
            <tr>
                <th>Hopsital_id</th>
                <th>Login_id</th>
                <th>Hospital_name</th>
                <th>Place</th>
                <th>Email</th>
                <th>Phone</th>
            </tr>

            {% for i in data['hosp'] %}

            <tr>
                <td>{{i ['hopsital_id']}}</td>
                <td>{{i ['login_id']}}</td>
                <td>{{i ['hospital_name']}}</td>
                <td>{{i ['place']}}</td>
                <td>{{i ['email']}}</td>
                <td>{{i ['phone']}}</td>
            </tr>

            {% endfor %}

        </table> -->


        <div class="container mt-4">
            <h2 class="text-center mb-4">Hospital List</h2>
        
            <div class="row">
                {% for i in data['hosp'] %}
                <div class="col-md-4">
                    <div class="card shadow-sm mb-4">
                        <div class="card-body">
                            <h5 class="card-title text-primary"><strong>{{ i['hospital_name'] }}</strong></h5>
                            <p class="mb-1"><strong>Hospital ID:</strong> {{ i['hopsital_id'] }}</p>
                            <p class="mb-1"><strong>Login ID:</strong> {{ i['login_id'] }}</p>
                            <p class="mb-1"><strong>Place:</strong> {{ i['place'] }}</p>
                            <p class="mb-1"><strong>Email:</strong> <a href="mailto:{{ i['email'] }}">{{ i['email'] }}</a></p>
                            <p class="mb-1"><strong>Phone:</strong> <a href="tel:{{ i['phone'] }}">{{ i['phone'] }}</a></p>
                            <a href="/donor_view_message?action=chat&id={{ i['login_id'] }}&name={{i['hospital_name']}}" 
                           class="btn btn-warning btn-sm w-100">
                            Chat
                        </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        
      
</center>

<br><br><br><br><br><br><br>
{% include 'footer.html' %}